AUTH_URL=auth:8001
USER_URL=user:8002
PROJECT_URL=project:8003
PROTECTED_PATH_PATTERNS={"auth":["/auth/users"],"user":["/user/users/*"],"project":["/project/projects*","/project/shifts*","/project/participants*","/project/documents*","/project/resource-requests*"]}
