# LOG_LEVEL='DEBUG'

# DATABASE_HOST=pg
# DATABASE_PORT_NETWORK= 5432
# DATABASE_USER = admin
# DATABASE_PASSWORD = password

# DATABASE_NAME = kino-user
# DATABASE_DIALECT= postgresql
# DATABASE_DRIVER = asyncpg

# RABBITMQ_DEFAULT_USER = guest
# RABBITMQ_PORT = 5672
# RABBITMQ_HOST = broker
# RABBITMQ_DEFAULT_PASS = guest

# STORAGE_BACKEND = local
# STORAGE_BUCKET = user
# STORAGE_LOCAL_ROOT = storage
# STORAGE_S3_ENDPOINT =
# STORAGE_S3_REGION =
# STORAGE_S3_ACCESS_KEY =
# STORAGE_S3_SECRET_KEY =
# STORAGE_S3_USE_SSL = true
