# LOG_LEVEL='DEBUG'

# DATABASE_HOST=pg
# DATABASE_PORT_NETWORK= 5432
# DATABASE_USER = admin
# DATABASE_PASSWORD = password

# DATABASE_NAME = kino
# DATABASE_DIALECT= postgresql
# DATABASE_DRIVER = asyncpg

# RABBITMQ_DEFAULT_USER = guest
# RABBITMQ_PORT = 5672
# RABBITMQ_HOST = broker
# RABBITMQ_DEFAULT_PASS = guest