LOG_LEVEL=INFO
LOG_THIRD_PARTY_LEVEL=WARNING
LOG_NAME=notificate
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=broker
RABBITMQ_PORT=5672
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM_EMAIL=no-reply@kino.local
SMTP_FROM_NAME=Kino
SMTP_USE_TLS=false
SMTP_STARTTLS=false
TASKIQ_DEFAULT_RETRY_COUNT=3
TASKIQ_DEFAULT_RETRY_DELAY_SECONDS=5
TASKIQ_USE_JITTER=true
TASKIQ_USE_DELAY_EXPONENT=true
TASKIQ_MAX_DELAY_EXPONENT=60
