LOG_LEVEL=INFO
LOG_THIRD_PARTY_LEVEL=WARNING
LOG_NAME=project
DATABASE_HOST=pg
DATABASE_PORT_NETWORK=5432
DATABASE_USER=admin
DATABASE_PASSWORD=password
DATABASE_NAME=kino-project
DATABASE_DIALECT=postgresql
DATABASE_DRIVER=asyncpg
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=broker
RABBITMQ_PORT=5672
USER_SERVICE_BASE_URL=http://user:8002
USER_SERVICE_TIMEOUT_SECONDS=10
INTERNAL_API_KEY=kino-internal-dev-key
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=project-documents
MINIO_SECURE=false
MINIO_PRESIGN_EXPIRES_SECONDS=900
